
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
}

p{
  margin-bottom: 0;
}

/* body {
  height: 100vh;
} */

body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(4, 49, 72);
}

.form-contain.card{
  background-color: #fff;
  width: 400px;
  box-shadow: 0px 0px 10px rgb(234, 253, 255);
  padding: 10px;
}
.form-contain.card .card-body{
  padding: auto 20px !important;
}
.form-contain.card .card-body form .form-label{
  font-weight: 400;
  margin-bottom: 0px;
}
.form-contain.card .card-body button{
  width: 100%;
}
.form-contain.card .card-header{
  font-size: 25px;
  padding-bottom: 0;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  border: 0;
}

.game-list-contain{
  width: 1000px;
  background-color: #fff;
  padding: 15px;
}
.game-list-contain h4{
  color: black;
  font-weight: bold;
}


@media screen {
  
}